

### imagepy-notebook
aiohttp==3.6.*
asyncio-channel==0.9
beautifulsoup4==4.8.*
boto3==1.12.*
dj-database-url==0.5.0
environs==8.0.*
gspread-dataframe==3.0.*
gspread==3.6.*
imutils==0.5.*
ipywidgets==7.5.*
kiwisolver==1.2.*
marshmallow==3.7.*
matplotlib==3.3.*
mode==4.3.*
numba==0.45.*
numexpr==2.6.*
numpy==1.19.*
opencv_python>=4.2.0.*
opencv_python_inference_engine>=4.0.0.*
pandas==0.25.*
pillow==7.2.*
python-xmp-toolkit==2.0.*
scikit.image==0.17.*
scikit.learn==0.23.*
scipy==1.5.*
seaborn==0.9.*
stringcase==1.2.*
uuid==1.30
wrapt==1.12.*
yarl==1.5.*
